@model OdeToFood.Data.Models.Restaurant

@{
    ViewBag.Title = "title";
}

<h2>Details for @Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Restaurants</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            <!--this generates a label-->
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        
        <dd>
            <!--This is the information-->
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Cuisine)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.Cuisine)
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id})
    @Html.ActionLink("Back to List",  "Index")
</p>
