@page
@model ListModel
@{
}

<h1>Restarants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm"/>
<!--asp-for tag helper, helps with model binding, input and label tags-->
<!-- asp-for: this input is for the following property on the model -->
<!--SearchTearm is the part that allows you to seleact the element-->
            <span class="input-group-btn">
                <button class="btn btn-default">Search</button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var restarant in Model.Restarants)
    {
        <tr>
            <td>@restarant.Name</td>
            <td>@restarant.Location</td>
            <td>@restarant.Cuisine</td>
            <td>
                <a class="btn btn-lg"
                   asp-page="./Detail"
                   asp-route-restarantId"="@restarant.ID">
                    <!---->
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
            </td>
        </tr>
    }
</table>

<div>
    @Model.Message
</div>
