@using System.Web.Mvc.Html
@model Bicycle.Data.Models.Bike

@{
    ViewBag.Title = "Create";
}

<h3>Create a new bike</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Bike Form</h4>
        <hr/>
        @Html.ValidationSummary(true,"", new {@class = "text-danger"})
        
        <div class="form-group">
            @Html.LabelFor(model => model.BikeType, new{@class="form-label col-md-2"})
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.BikeType, new{htmlAttribute = new {@class="form-control"}})
            </div>
        </div>
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.BikeMake, new{@class="form-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.BikeMake, new{htmlAttribute = new {@class="form-control"}})
                @Html.ValidationMessageFor(model => model.BikeMake, "", new{@class="text-danger"})
            </div>
        </div>
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.BikeModel, new{@class="form-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.BikeModel, new{htmlAttribute = new {@class="form-control"}})
                @Html.ValidationMessageFor(model => model.BikeModel, "", new{@class="text-danger"})
            </div>
        </div>
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.GearSetMake, new{@class="form-label col-md-2"})
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.GearSetMake, new{htmlAttribute = new {@class="form-control"}})
            </div>
        </div>
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.GearSet.Model, new{@class="form-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.GearSet.Model, new{htmlAttribute = new {@class="form-control"}})
                @Html.ValidationMessageFor(model => model.GearSet.Model, "", new{@class="text-danger"})
            </div>
        </div>
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.GearSet.ModelNumber, new{@class="form-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.GearSet.ModelNumber, new{htmlAttribute = new {@class="form-control"}})
                @Html.ValidationMessageFor(model => model.GearSet.ModelNumber, "", new{@class="text-danger"})
            </div>
        </div>
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.WheelSetType, new{@class="form-label col-md-2"})
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.WheelSetType, new{htmlAttribute = new {@class="form-control"}})
            </div>
        </div>
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.WheelSetMake.Name, new {@class = "form-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.WheelSetMake.Name, new {htmlAttribute = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.WheelSetMake.Name, "", new {@class = "text-danger"})
            </div>
        </div>
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.WheelSetMake.Model, new {@class = "form-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.WheelSetMake.Model, new {htmlAttribute = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.WheelSetMake.Model, "", new {@class = "text-danger"})
            </div>
        </div>
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.WheelSetMake.Weight, new {@class = "form-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.WheelSetMake.Weight, new {htmlAttribute = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.WheelSetMake.Weight, "", new {@class = "text-danger"})
            </div>
        </div>
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.Weight, new {@class = "form-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weight, new {htmlAttribute = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Weight, "", new {@class = "text-danger"})
            </div>
        </div>
        
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to list", "Index")
</div>