@using Bicycle.Data.Models
@model System.Collections.Generic.IEnumerable<Bicycle.Data.Models.Components>

@{
    ViewBag.Title = "Index";
}

<h2>Bike Shop</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    There are @Model.Count() component entries 
</p>

<div class="panel panel-default">
    @foreach (var item in Model)
    {
        <div class="panel-heading">
            @item.ComponentType    
        </div>
        <div class="panel-body">
            @item.Make
            @item.Model    
        </div>
        
    }
</div>

